@using SIDCUL.Models
@{
    ViewBag.Title = "Regional Offices";
    Layout = "~/Views/Shared/_LayOutView_bak.cshtml";
}



<section id="editor">

    <div class="col-xs-12 col-sm-12 col-md-12 inner-title">
        <h2>Regional Offices</h2>
    </div>

    <section class="fontSize inn-h3" style="    margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12  ">
                    <div class="region region-upsc-first">
                        <img src="staticResources/sites/default/files/styles/slider/public/22.jpg" width="100%" class="inn-img" />
                        <div class="hidden-sm-down">
                            <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                                <li class="active"> <span class="divider icon-location"></span> </li>
                                <li itemprop="itemListElement" itemscope="" itemtype="#"> <a itemprop="item" href="index-2.html" class="pathway"><span itemprop="name">Home</span></a> <span class="divider"> &gt; </span> </li>
                                <li itemprop="itemListElement" itemscope="" itemtype="#" class="active"> <span itemprop="name"> Regional Offices </span> </li>
                            </ul>
                        </div>
                        <div class="region region-upsc-first">
                            <section id="block-menu-block-1" class="block block-menu-block clearfix text-center px-0">
                                <h2 class="heading mb-4"><span class="hborderb">Regional Offices</span></h2>
                                <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-611 menu-level-1">




                                    <table border="0">
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a href="#">AHMEDABAD</a></td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile - Ahmedabad.html" }, new {  style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Ahmedabad Gujrat Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td><a href="#">BANGALORE</a></td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile - Bangalore.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Bangalore Karnataka Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td><a href="#">BHOPAL</a></td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile - Bhopal.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Bhopal Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td><a href="#">BHUBANESHWAR</a></td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile - Bhubaneshwar.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Bhubneshwar Orissa Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td><a href="#">CHENNAI</a></td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile - Chennai.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Chennai (Tamil Nadu,Puduchery,Andaman & Nicob) Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td><a href="#">DELHI</a></td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile Delhi Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/DELHI NCR.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td><a href="#">GUWAHATI</a></td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile - Guwahati.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Guwahati Tripura Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td><a href="#">HYDERABAD</a></td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile - Hyderabad.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Hyderabad Andhra Pradesh Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td><a href="#">JAIPUR</a></td>
                                                <td>
                                                   @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile - Jaipur.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Jaipur Rajasthan Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td><a href="#">KOLKATA</a></td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile - Kolkata.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Kolkata West Bengal Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td><a href="#">LUCKNOW</a></td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile - Lucknow.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Lucknow(Uttar Pradesh,Uttarakhand) Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td><a href="#">MUMBAI</a>/NAVI MUMBAI</td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile - Mumbai.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Mumbai Goa Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td><a href="#">PATNA</a></td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile - Patna.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Patna-Bihar Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>14</td>
                                                <td><a href="#">CHANDIGARH/PANCHKULA</a></td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile - Chandigarh.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Chandigarh( Punjab,UT Chandigarh) Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15</td>
                                                <td><a href="#">KOCHI</a></td>
                                                <td>
                                                    @{


    <text>
        @Html.EncodedActionLink("Contact Details", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Regional Profile-Kochi.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}<hr />
                                                    @{


    <text>
        @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/Kochi Kerala Region.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
    </text>

}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>16</td>
                                                <td><a href="#">RAIPUR CHHATTISGARH</a></td>
                                                <td>
                                                    <a href="#">Contact Details</a>
                                                    <hr />
                                                    @{


                                                        <text>
                                                            @Html.EncodedActionLink("List Of WareHouse", "Index", "CWCViewPage", new { PageAddress = "~/CWC/188.95.36.104_8080/cwc/RegionalOfficeRanchi.html" }, new { style = "color:blue", data_original_title = "Edit Training Category Data", data_placement = "top" })
                                                        </text>

                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br /><br />
                                </div>
                            </section>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</section>

