@model CWC_CMS.Models.RTIApplicationFormModel
@using CaptchaMvc.HtmlHelpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayOutView_bak3.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        $('#basicForm').validate({
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });

    });
</script>

<br /><br /><br />
@using (Html.BeginForm("Index", "RTIApplicationForm", FormMethod.Post, new { id = "basicForm", @class = "form-horizontal" }))
{





    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <!-- panel -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <table style="width:100%; background-color:transparent">
                    <tr>
                        <td>
                            @if (Model != null)
                            {
                                <h4 class="panel-title">Edit Complaint</h4>
                            }
                            else
                            {
                                <h4 class="panel-title">Add Complaint</h4>

                            }
                        </td>

                        <td style="text-align:right">
                            @Html.ActionLink("Back  ", "index", "HomePage", new
                   { @*OmID = "0"*@ }, new { @class = "btn btn-default btn-quirk" })
                        </td>
                    </tr>
                </table>

            </div>

            <div class="panel-body">
                <h4 class="panel-title" style="text-align:center">RTI Section</h4>
                <div style="border: dotted 1px">
                    <br />

                    @Html.AntiForgeryToken()


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Applicant Name :<span class="text-danger">*</span></label>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.ApplicantName, new { @class = "form-control", placeholder = "Type here..." })
                            <span class="col-sm-3 control-label" style="color:red;margin-right:-10px">   </span>
                            @Html.ValidationMessageFor(model => model.ApplicantName)
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Telephone Number :<span class="text-danger">*</span></label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.TelephoneNo, new { @class = "form-control", placeholder = "Type here..." })
                                <span class="col-sm-3 control-label" style="color:red;margin-right:-10px">   </span>
                                @Html.ValidationMessageFor(model => model.TelephoneNo)

                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mobile Number :<span class="text-danger">*</span></label>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", placeholder = "Type here..." })
                            <span class="col-sm-3 control-label" style="color:red;margin-right:-10px">   </span>
                            @Html.ValidationMessageFor(model => model.MobileNo)
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fax Number :<span class="text-danger">*</span></label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.FaxNo, new { @class = "form-control", placeholder = "Type here..." })
                                <span class="col-sm-3 control-label" style="color:red;margin-right:-10px">   </span>
                                @Html.ValidationMessageFor(model => model.FaxNo)

                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email ID :<span class="text-danger">*</span></label>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", placeholder = "Type here..." })
                            <span class="col-sm-3 control-label" style="color:red;margin-right:-10px">   </span>
                            @Html.ValidationMessageFor(model => model.EmailID)
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Address :<span class="text-danger">*</span></label>
                            <div class="col-sm-3">
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", placeholder = "Type here..." })
                                <span class="col-sm-3 control-label" style="color:red;margin-right:-10px">   </span>
                                @Html.ValidationMessageFor(model => model.Address)

                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-2 control-label">Complaint Section :<span class="text-danger">*</span></label>
                        <div class="col-sm-3">
                            @Html.TextAreaFor(model => model.Complaints, new { @class = "form-control", placeholder = "Type here..." })
                            <span class="col-sm-3 control-label" style="color:red;margin-right:-10px">   </span>
                            @Html.ValidationMessageFor(model => model.Complaints)

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Captcha :<span class="text-danger">*</span></label>
                        <div class="col-sm-3">
                            @Html.MathCaptcha()

                        </div>
                    </div>





                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 padding10">
                            <input type="submit" value=" Save " id="btnSubmit" class="btn btn-success btn-quirk btn-wide mr5" />
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>





}


