@model CWC_CMS.Models.LoginModel
@using SIDCUL.Models
@using CaptchaMvc.HtmlHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>FCI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="@Url.Content("~/Scripts/jquery-3.6.0.min.js")"></script>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="@Url.Content("~/images/CWC.ico")" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/vendor/bootstrap/css/bootstrap.min.css")" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/fonts/font-awesome-4.7.0/css/font-awesome.min.css")" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/vendor/animate/animate.css")" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/vendor/css-hamburgers/hamburgers.min.css")" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/vendor/select2/select2.min.css")" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/css/util.css")" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/css/main.css")" />
    <!--===============================================================================================-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" href="@Url.Content("~/lib/jquery.gritter/jquery.gritter.css")" type="text/css" />
    <script src="@Url.Content("~/lib/jquery-validate/jquery.validate.js")"></script>
    <script src="@Url.Content("~/lib/jquery.gritter/jquery.gritter.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/lib/jquery.gritter/jquery.gritter.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/lib/weather-icons/css/weather-icons.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/lib/jquery-ui/jquery-ui.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/lib/select2/select2.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/lib/dropzone/dropzone.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/lib/jquery-toggles/toggles-full.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/lib/fontawesome/css/font-awesome.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/lib/timepicker/jquery.timepicker.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrapcolorpicker/css/bootstrap-colorpicker.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/quirk.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/lib/animate.css/animate.css")" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-3.6.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/lib/modernizr/modernizr.js")"></script>
    <script src="@Url.Content("~/lib/dropzone/dropzone.js")"></script>

    <script src="@Url.Content("~/lib/jquery-ui/jquery-ui.js")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/lib/jquery-autosize/autosize.js")"></script>
    <script src="@Url.Content("~/lib/select2/select2.js")"></script>
    <script src="@Url.Content("~/lib/jquery-toggles/toggles.js")"></script>
    <script src="@Url.Content("~/lib/jquery-maskedinput/jquery.maskedinput.js")"></script>
    <script src="@Url.Content("~/lib/timepicker/jquery.timepicker.js")"></script>
    <script src="@Url.Content("~/lib/dropzone/dropzone.js")"></script>
    <script src="@Url.Content("~/lib/bootstrapcolorpicker/js/bootstrap-colorpicker.js")"></script>
    <script src="@Url.Content("~/js/quirk.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validate/jquery.validate.js")"></script>
    <script src="@Url.Content("~/lib/jquery.gritter/jquery.gritter.js")"></script>

    <script src="@Url.Content("~/Scripts/md5.js")"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>

    <style>
        .uppercase {
            text-transform: uppercase;
        }
    </style>

    <script>
        $(document).ready(function () {
            $("#CaptchaText").attr('maxlength', '8');
            $('#CaptchaText').addClass("form form-control");
            $('#CaptchaText').bind('copy paste', function (e) {
                e.preventDefault();
            });
        });
    </script>
    @*End*@

    <script>

        $(document).ready(function () {

            var SaveResult = '@ViewBag.SaveResult';
            if (SaveResult == 1) {
                $('#myModalSaveUpdate').modal('show');


            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var lefttime = 1;
            var interval;
            interval = setInterval('change()', 60000);


            function change() {
                lefttime--;
                if (lefttime <= 2) alert("The session will be off, Left time is " + lefttime + " second!")
            }
        });
        $(document).ready(function () {
            if (window.location.search == "?result=registered") {
                $('#myModal').modal('show');
                $.gritter.add({
                    title: 'Session Expired',
                    text: 'Your Session has been Expired, Please Try Again !!!',
                    class_name: 'with-icon exclamation-circle warning'
                });
            }
            if (window.location.search == "?result=NotAllowed") {
                $('#myModalNotAllowed').modal('show');
                $.gritter.add({
                    title: 'Page Not Allowed',
                    text: 'This Page Not Allowed, Please Contact Adminstrator !!!',
                    class_name: 'with-icon exclamation-circle warning'
                });
            }

            if (window.location.href.indexOf("&result=Success") > -1) {
                $('#ChanegePassword').modal('show');
                $.gritter.add({
                    title: 'Your Password Has Been Changed',
                    text: 'Your Password Has Been Changed Successfully !!!',
                    class_name: 'with-icon check-circle success'
                });
            }
            if (window.location.search == "?result=Success") {
                $('#ChanegePassword').modal('show');
                $.gritter.add({
                    title: 'New Password Saved',
                    text: 'New Password Saved Successfully !!!',
                    class_name: 'with-icon check-circle success'
                });
            }
            if (window.location.search == "?result=Notmatch") {

                $.gritter.add({
                    title: 'New Password Not Saved',
                    text: 'Secret Code not Matched !!!',
                    class_name: 'with-icon exclamation-circle warning'
                });
            }
            if (window.location.search == "?UserValid=invalid") {

                $.gritter.add({
                    title: 'Message From System',
                    text: 'UserName or Password Incorrect.',
                    class_name: 'with-icon exclamation-circle danger'
                });
            }

        });
    </script>
</head>


<body>
    <script type="text/javascript">

        function EncryptValue() {
            debugger;
            var txtpassword1 = document.getElementById("Password").value.trim();
            if (txtpassword1 == "") {
                alert('Please enter Password');
                return false;
            }
            else {
                //PageMethods.GetCurrentTime(document.getElementById("<%=txtPwd.ClientID%>").value, OnSuccess);
                $.ajax({
                    async: false,
                    type: "POST",
                     url:  '@(Url.Action("Encrypt","Login"))',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: "{'plainText' : '" + $("#Password").val() + "'}",
                    success: OnSuccess,
                    failure: function (response) {
                        //alert(response.d);
                        return false;
                    }
                });

                function OnSuccess(response) {
                    debugger;
                    $("#Password").val(response);
                    return true;
                }
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.CaptchaClass').remove();
        }
        );
    </script>
    <div class="limiter">
        <div class="container-login100">

            <div class="wrap-login100">

              
                @using (Html.BeginForm("Create", "Login", FormMethod.Post, new { @class = "login100-form validate-form", id = "basicForm"}))
                {
                    <div class="login100-pic js-tilt" data-tilt style="margin-top:5%;">
                        @*<img src="~/images/CWCLogin.jpg" class="img-thumbnail" alt="IMG" />*@
                        <img src="https://fcicms.in/images/logo.png" class="img-thumbnail" style="display: block;  margin-left: auto;  margin-right: auto; height: 100%;" alt="IMG" />
                    </div>
                    <span class="login100-form-title" style="color:#79A618;">
                        Complaint Management  System
                    </span>
					
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "input100",autocomplete="off", placeholder = "User ID", required = true })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div>
                        @{
                            if (ViewBag.buttonstatus != -4)
                            {
                                <div class="wrap-input100 validate-input" data-validate="Password is required">
                                   
                                    @Html.TextBoxFor(model => model.Password, new { @class = "input100", onchange = "EncryptValue()", placeholder = "Password", type = "Password", required = true })
                                    <span class="focus-input100"></span>
                                    <span class="symbol-input100">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                    </span>
                                </div>

                                @*<div style="float:right;">
                                    @Html.ActionLink("Forget Password ?", "ForgetPassword", new { }, new { style = "color:blue;  text-decoration: underline;" })
                                </div>*@
                            }
                        }
                    </div>

                    <div class="wrap-input100 validate-input">


                        @*<label class="control-label"><b style="font-size: 115%;">Captcha</b> :<span class="text-danger">*</span></label>*@
                        <div class="col-md-4">
                            <img style="margin-top: 12%;" src="~/Login/ShowCaptchaImage" />
                            @Html.ActionLink("Refresh", "Index", new { }, new { style = "color:blue;  text-decoration: underline;" })
                        </div>
                        @*<div class="col-md-2">
                            @Html.ActionLink("Refresh", "Index", new { }, new { style = "color:blue;  text-decoration: underline;" })
                        </div>*@
                    <div class="col-md-8">
                        @*@Html.ActionLink("Refresh", "Index", new { }, new { style = "color:blue;  text-decoration: underline;" })*@
                        @Html.TextBox("CaptchaText", null, new { @class = "input100", @placeholder = "Captcha", autocomplete = "off", required = true })
                        @Html.ActionLink("Forget Password ?", "ForgetPassword", new { }, new { style = "color:blue; float:right;  text-decoration: underline;" })

                    </div>


                    </div>

                    <div>
                        @{
                            var names = string.IsNullOrEmpty(Model.UserName) ? "NA" : Model.UserName;
                            if (@ViewBag.buttonstatus == -4)
                            {
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.EncodedActionLink("UnlockAccount", "UnlockAccount", "Login", new { area = "", name = names }, new { style = "color:blue;  text-decoration: underline; " })

                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <div>
                        @{
                            if (@ViewBag.buttonstatus != -4)
                            {
                                <div class="container-login100-form-btn" id="logindiv">
                                    <button class="login100-form-btn" type="submit" id="btnlogin">
                                        Login
                                    </button>
                                </div>
                            }
                        }
                    </div>



                            }
            </div>
        </div>
    </div>

</body>
</html>

<center>
    <div class="modal fade" id="myModalSaveUpdate" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Message from System</h2>
                </div>
                <div class="modal-body">
                    @if (ViewBag.SaveUpdateMessage != null)
                    {
                        @Html.Raw(@ViewBag.SaveUpdateMessage)
                    }
                </div>
                <div class="modal-footer">
                    <a href="~/Login/Index" class="btn btn-primary">Home</a><br /><br />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</center>