@model IEnumerable<CWC_CMS.Models.VigilanceComplaintModel>
@using SIDCUL.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutView_bak2.cshtml";
}
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">


<script>


    $(document).ready(function () {

        $('th').click(function () {
            var table = $(this).parents('table').eq(0)
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
            this.asc = !this.asc
            if (!this.asc) { rows = rows.reverse() }
            for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
        })
        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index), valB = getCellValue(b, index)
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
            }
        }
        function getCellValue(row, index) { return $(row).children('td').eq(index).text() }


    });

    $(document).ready(function () {
        $("datatablelist").datatable();



    });
        $(document).ready(function () {
        var SaveResult = '@ViewBag.SaveResult';
        if (SaveResult == 1) {
            $('#myModalSaveUpdate').modal('show');


        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.fa').addClass("fa fa-pencil tooltips");
        $('.btn').addClass("btn btn-default btn-quirk");
        $('.btnaudit').addClass("fa fa-list-alt fa-1x tooltips");
        $('.actdelete').addClass("fa fa-trash tooltips")
        $('.actprimary').addClass("btn btn-primary")
    });

    $(function () {
        $('[name=deletepopup]').click(function () {
            $('#myModal').modal('show');
            var href = $(this).attr('href');
            var s = $('#popupid').attr('href', href);
            return false;
        });
        if (window.location.search == "?result=DeleteSuccess") {
            $('#myModaldelete').modal('show');
            $.gritter.add({
                title: 'Vigilance Record Deleted',
                text: 'Vigilance Record Deleted Successfully !!!',
                class_name: 'with-icon exclamation-circle warning'
            });


        }
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#basicForm').validate({
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });
        $('.select2').select2();

        if (window.location.href.indexOf("result=CheckShiftDate") > -1) {
            $('#CheckFromtDate').modal('show');
            $.gritter.add({
                title: 'Input Date Error',
                text: 'From Date Should Be Less Than Or Equal To ToDate !!!',
                class_name: 'with-icon check-circle success'
            });
        }

        if (window.location.href.indexOf("result=Success") > -1) {
            $('#myModalSuccess').modal('show');
            $.gritter.add({
                title: ' Saved',
                text: ' Saved Successfully !!!',
                class_name: 'with-icon check-circle success'
            });
        }

        if (window.location.href.indexOf("result=UpdateSuccess") > -1) {
            $('#myModalUpdate').modal('show');
            $.gritter.add({
                title: ' Update',
                text: ' Updated Successfully !!!',
                class_name: 'with-icon check-circle success'
            });
        }


        if (window.location.href.indexOf("result=Failed") > -1) {

            $.gritter.add({
                title: 'Vigilance Record not Saved',
                text: 'Vigilance Module Please Contact Adminstrator....',
                class_name: 'with-icon exclamation-circle warning'
            });
        }
    });

    $(document).ready(function () {
        $(".digit").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errormsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>
<script>
    $(document).ready(function () {

        $('#LogoutBtn').addClass('btn-danger')

        $('#ChangePasswordBtn').addClass('btn-danger')
        $('#AddComplaintBtn').addClass('btn-success')
    });
</script>


<div class="panel panel-default">
    <ul class="panel-options"></ul>


    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-4">

                <img src="https://fci.gov.in/images/logo.png" height="50" />
            </div>
            <div class="col-sm-3">
                <h3 class="" style="color:#fff">Complaint Management System</h3>
            </div>
            <div class="col-sm-2" style="text-align:right">
                @{

                    <text>
                        @Html.EncodedActionLink("Change Password", "index","LoginChangePassword", new { NameRef = "1" }, new { @class = "btn", @id = "ChangePasswordBtn" })
                    </text>

                }
            </div>
            <div class="col-sm-1" style="text-align:right">
                @{

                    <text>
                        @Html.EncodedActionLink("Logout ", "LogoutFun", "Login", new { }, new { @class = "btn", @id = "LogoutBtn" })
                    </text>

                }
            </div>
            <div class="col-sm-1" style="text-align:right">
                @{
                    <text>
                        @Html.EncodedActionLink("Add Complaint ", "AddAComplaint", "VigilanceApplicationForm", new { }, new { @class = "btn", @id = "AddComplaintBtn" })
                    </text>
                }
            </div>

        </div>

    </div>


</div>






@using (Html.BeginForm("Create", "VigilanceApplicationForm", FormMethod.Get, new { @class = "form-horizontal", id = "basicForm" }))
{

    <a href="@Url.Action("ExportToExcel","VigilanceApplicationForm")">Export Excel</a>
    <table class="table table-striped table-success hover" id="datatablelist">
        <thead>
            <tr>
                <th style="background-color: #79A618">
                    Complaint Ref No
                </th>
                <th style="background-color: #79A618">
                    Complaint Type
                </th>
                <th style="background-color: #79A618">
                    Date
                </th>
                <th style="background-color: #79A618">
                    Subject
                </th>
                <th style="background-color: #79A618">
                    Details
                </th>

                <th style="background-color: #79A618">
                    Document
                </th>

                <th style="background-color: #79A618">
                    Status
                </th>

                <th style="background-color: #79A618">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                                foreach (var item in Model)
                                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VigilanceRefno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ComplaintType)
                        </td>
                        <td>
                            <p>@item.DateOfComplaint.ToString("dd-MMM-yyyy")</p>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Organisation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DetailsOfAllegation)
                        </td>
                        <td>
                            @if (item.DocumentAccompanyingAllegationPath != "NA")
                                            {
                                        @Html.ActionLink("View Document", "Document_View", "VigilanceApplicationForm", new { FilePath = item.DocumentAccompanyingAllegationPath, complaintid = item.VigilanceComplaintID }, new { @class = "text-primary ", target = "_blank", style = "width:100px;" })
                            }
                            else
                                    {
                                <p class="text-danger">No Document</p>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ComplaintStatus)
                        </td>
                        <td>
                            @{
                            if (Session["Role"].ToString() == "0")
                            {
                                    <text>
                                        @Html.EncodedActionLink(" Edit Complaint", "ViewConsolidatedApplication","VigilanceApplicationForm", new { VigilanceComplaintID = (item.VigilanceComplaintID + "G" + Session["Uid"].ToString()) }, new { @class = "fa", style = "color:#326661", data_original_title = "Edit EMD Fees Data", data_placement = "top", data_toggle = "tooltip" }) |
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        @Html.EncodedActionLink(" View Complaint", "ViewConsolidatedApplication","VigilanceApplicationForm", new { VigilanceComplaintID = (item.VigilanceComplaintID + "G" + Session["Uid"].ToString()) }, new { @class = "fa", style = "color:#326661", data_original_title = "Edit EMD Fees Data", data_placement = "top", data_toggle = "tooltip" })
                                    </text>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
<script src="~/CssJs/dtjs.js"></script>
<script>
    $(function () {
        $('.panel-heading').attr('style', 'background-color: #79A618')
    })
</script>
<div class="modal bounceIn animated" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are you sure, You want to delete<br />Vigilance Record !!! </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @Html.EncodedActionLink("Delete ", "Delete", "VigilanceApplicationForm", new { /* id=item.PrimaryKey */ }, new { id = "popupid", @class = "actprimary" })

            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>

<div class="modal bounceIn animated" id="myModaldelete" tabindex="-1" role="dialog" aria-labelledby="myModaldeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModaldeleteLabel">Deleted Successfully !!! </h4>
            </div>
            <div class="modal-body">
                @Html.ActionLink("Close ", "Index", new { /* id=item.PrimaryKey */ }, new { @class = "btn" })
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>

<div class="modal bounceIn animated modelRemove" id="myModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModaldeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModaldeleteLabel">Vigilance Details Saved Successfully</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-default modelClosebtn" data-dismiss="modal">Close</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>

<div class="modal bounceIn animated modelRemove" id="myModalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModaldeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModaldeleteLabel">Vigilance Details Updated Successfully</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-default modelClosebtn" data-dismiss="modal">Close</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>

<center>
    <div class="modal fade" id="myModalSaveUpdate" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Message from System</h2>
                </div>
                <div class="modal-body">
                    @if (ViewBag.SaveUpdateMessage != null)
                    {
                        @Html.Raw(@ViewBag.SaveUpdateMessage)
                    }
                </div>
                <div class="modal-footer">
                    @*<a href="http://49.50.117.223:8080" class="btn btn-primary">Home</a><br /><br />*@
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</center>